In [1]:
# Decision Trees
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
df.dropna(inplace=True)

In [5]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [6]:
df.drop(['name', 'sibsp', 'parch', 'ticket', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], 
          axis = 1, inplace = True)

In [7]:
df.head()

Empty DataFrame
Columns: [pclass, survived, sex, age, fare]
Index: []

In [8]:
inputs = df.drop('survived', axis = 1)
target = df.survived

In [9]:
inputs

Empty DataFrame
Columns: [pclass, sex, age, fare]
Index: []

In [ ]:
# inputs.sex = inputs.sex.map({'male':1, 'female':2})
dummies = pd.get_dummies(inputs.sex)
dummies.head(3)

In [ ]:
inputs = pd.concat([inputs,dummies], axis = 1)

In [ ]:
inputs

In [ ]:
inputs.drop(['sex', 'male'], axis=1, inplace=True)
inputs

In [ ]:
inputs.columns[inputs.isna().any()]

In [ ]:
inputs.age[:10]

In [ ]:
#1 in the past we wrote an impute_age function to resolve the NaN in age
#2 we can also treat age as a target and predict
#3 is as follows
inputs.age = inputs.age.fillna(inputs.age.mean())

In [ ]:
inputs.pclass = inputs.pclass.fillna(inputs.pclass.mean())
inputs.fare = inputs.fare.fillna(inputs.fare.mean())

In [ ]:
inputs.columns[inputs.isna().any()]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3, random_state=101)

In [ ]:
# alternate way
#from sklearn import tree
#model = tree.DecisionTreeClassifier()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [ ]:
model

In [ ]:
model.fit(X_train, y_train)